nodeRed/AirQualityFlow.json
[{"id":"b65858e9.d8f468","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fc29ba69.a1bdb8","type":"http request","z":"b65858e9.d8f468","name":"API request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/geo:{{{latitude}}};{{{longitude}}}/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":200,"wires":[["41ad845f.c36aac","427a3d0d.57c114","ae2749d1.7efad8","9f230e0.bf14ff","e5b30138.3d243","e79c87a6.8e2428"]]},{"id":"41ad845f.c36aac","type":"debug","z":"b65858e9.d8f468","name":"API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.aqi","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":60,"wires":[]},{"id":"de844e77.1d82e","type":"firebase modify","z":"b65858e9.d8f468","name":"FireBase","firebaseconfig":"","childpath":"Data","method":"push","value":"msg.payload","priority":"msg.priority","x":660,"y":120,"wires":[["c5aeca7e.adc808"]],"info":"\nreturn msg.childpath;"},{"id":"c135600d.01c44","type":"mqtt out","z":"b65858e9.d8f468","name":"AQI publish","topic":"entc/group11/project/aqi","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":750,"y":240,"wires":[]},{"id":"427a3d0d.57c114","type":"function","z":"b65858e9.d8f468","name":"AQI value","func":"let aqi = msg.payload.data.aqi;\n\nreturn {\n    payload:aqi\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["c135600d.01c44","257c9829.5be308"]]},{"id":"257c9829.5be308","type":"debug","z":"b65858e9.d8f468","name":"AQI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"c5aeca7e.adc808","type":"debug","z":"b65858e9.d8f468","name":"Current Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"c41ca231.bad36","type":"change","z":"b65858e9.d8f468","name":"Set Location Parameters","rules":[{"t":"set","p":"latitude","pt":"msg","to":"payload.latitude","tot":"msg"},{"t":"set","p":"longitude","pt":"msg","to":"payload.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":120,"wires":[["f67a3009.806ff","fc29ba69.a1bdb8"]]},{"id":"d8dedfc6.99904","type":"mqtt in","z":"b65858e9.d8f468","name":"Location In","topic":"entc/group/11/location","qos":"2","datatype":"json","broker":"c161b086.db225","nl":false,"rap":true,"rh":0,"x":80,"y":40,"wires":[["c41ca231.bad36"]]},{"id":"2e141b46.cf4b14","type":"firebase modify","z":"b65858e9.d8f468","name":"FireBase","firebaseconfig":"","childpath":"Shanghai","method":"push","value":"msg.payload","priority":"msg.priority","x":600,"y":780,"wires":[["734e3b9e.108004"]],"info":"\nreturn msg.childpath;"},{"id":"1eb2753e.13404b","type":"http request","z":"b65858e9.d8f468","name":"Shanghai","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/shanghai/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":780,"wires":[["d431936.6acab7"]]},{"id":"80af2560.91f768","type":"inject","z":"b65858e9.d8f468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":820,"wires":[["1eb2753e.13404b","16e10d12.e143b3"]]},{"id":"16e10d12.e143b3","type":"http request","z":"b65858e9.d8f468","name":"colombo","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/colombo/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":860,"wires":[["1554a460.dcda5c"]]},{"id":"a8199557.350458","type":"firebase modify","z":"b65858e9.d8f468","name":"FireBase","firebaseconfig":"","childpath":"Colombo","method":"push","value":"msg.payload","priority":"msg.priority","x":600,"y":860,"wires":[["be9832cb.e14b3"]],"info":"\nreturn msg.childpath;"},{"id":"734e3b9e.108004","type":"debug","z":"b65858e9.d8f468","name":"Shanghai data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":780,"wires":[]},{"id":"be9832cb.e14b3","type":"debug","z":"b65858e9.d8f468","name":"Colombo data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":860,"wires":[]},{"id":"9f230e0.bf14ff","type":"switch","z":"b65858e9.d8f468","name":"City Name","property":"payload.data.city.name","propertyType":"msg","rules":[{"t":"eq","v":"Olav V gate, Bodo, Norway","vt":"str"},{"t":"eq","v":"Colombo US Embassy, Sri Lanka","vt":"str"},{"t":"eq","v":"Shanghai (上海)","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":290,"y":460,"wires":[["195e6f13.dba891"],["e6a0f8d0.a04808"],["d1051b09.e9bc48"]]},{"id":"f67a3009.806ff","type":"debug","z":"b65858e9.d8f468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":20,"wires":[]},{"id":"d1051b09.e9bc48","type":"firebase.once","z":"b65858e9.d8f468","name":"Shanghai","firebaseconfig":"","childpath":"Shanghai","repeatifnull":false,"eventType":"value","queries":[],"x":500,"y":620,"wires":[["e356be0f.4293","2e031812.38b8f8"]]},{"id":"4dcf784.c33c288","type":"debug","z":"b65858e9.d8f468","name":"Colombo Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":460,"wires":[]},{"id":"e6a0f8d0.a04808","type":"firebase.once","z":"b65858e9.d8f468","name":"Colombo","firebaseconfig":"","childpath":"Colombo","repeatifnull":false,"eventType":"value","queries":[],"x":500,"y":460,"wires":[["4dcf784.c33c288","2e031812.38b8f8"]]},{"id":"36bddb5c.aee8b4","type":"debug","z":"b65858e9.d8f468","name":"Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"195e6f13.dba891","type":"firebase.once","z":"b65858e9.d8f468","name":"Data","firebaseconfig":"","childpath":"Data","repeatifnull":false,"eventType":"value","queries":[],"x":490,"y":360,"wires":[["36bddb5c.aee8b4"]]},{"id":"ae2749d1.7efad8","type":"debug","z":"b65858e9.d8f468","name":"City","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.city.name","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":320,"wires":[]},{"id":"e356be0f.4293","type":"debug","z":"b65858e9.d8f468","name":"Shanghai Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":700,"wires":[]},{"id":"c614ac3a.5d0de","type":"ui_gauge","z":"b65858e9.d8f468","name":"Gauge 01","group":"d7462180.ac61","order":1,"width":"0","height":"0","gtype":"gage","title":"{{city}}","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":840,"y":300,"wires":[]},{"id":"e5b30138.3d243","type":"change","z":"b65858e9.d8f468","name":"Set Location Parameters","rules":[{"t":"set","p":"city","pt":"msg","to":"payload.data.city.name","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"payload.data.aqi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["c614ac3a.5d0de"]]},{"id":"c09602e3.0bbef","type":"ui_chart","z":"b65858e9.d8f468","name":"Time Series","group":"d7462180.ac61","order":2,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#0056d6","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":580,"wires":[[]]},{"id":"2e031812.38b8f8","type":"function","z":"b65858e9.d8f468","name":"","func":"var json_data = msg.payload;\nvar result = [];\n\nfor(var i in json_data)\n    result.push({'x': json_data[i].timestamp,'y': json_data[i].value});\n\nmsg.payload=[{\n    'series' :['Air quality index'],\n    'data' : [result],\n    'labels': ['Air quality index']\n    }]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":540,"wires":[["c09602e3.0bbef","d3c3a3ba.0171b"]]},{"id":"d3c3a3ba.0171b","type":"debug","z":"b65858e9.d8f468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":500,"wires":[]},{"id":"d431936.6acab7","type":"function","z":"b65858e9.d8f468","name":"","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":780,"wires":[["2e141b46.cf4b14"]]},{"id":"1554a460.dcda5c","type":"function","z":"b65858e9.d8f468","name":"","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":860,"wires":[["a8199557.350458"]]},{"id":"e79c87a6.8e2428","type":"function","z":"b65858e9.d8f468","name":"","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[["de844e77.1d82e"]]},{"id":"c161b086.db225","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d7462180.ac61","type":"ui_group","name":"Air Quality Index","tab":"2b77d495.0e71ec","order":1,"disp":true,"width":"10","collapse":false},{"id":"2b77d495.0e71ec","type":"ui_tab","name":"Air Pollution Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
