NodeRed/AirQualityFlow.json
[{"id":"df92a849.bf1718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b39e298.c6716d8","type":"http request","z":"df92a849.bf1718","name":"API request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/geo:{{{latitude}}};{{{longitude}}}/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":200,"wires":[["2cb76372.6e325c","6286232a.dea4fc","fc94ff16.27682","6c88acbe.416be4","44c86b06.4219a4","afd3d7cf.576508","93a78caf.be49b","4f8e2eec.cf9ea","d3a35cb6.d89e4"]]},{"id":"2cb76372.6e325c","type":"debug","z":"df92a849.bf1718","name":"API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"e4345587.915af8","type":"mqtt out","z":"df92a849.bf1718","name":"AQI out","topic":"entc/group11/project/aqi","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":760,"y":220,"wires":[]},{"id":"f4ada751.02fb38","type":"debug","z":"df92a849.bf1718","name":"AQI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"b91d99ea.eb02e8","type":"change","z":"df92a849.bf1718","name":"Set Location Parameters","rules":[{"t":"set","p":"latitude","pt":"msg","to":"payload.latitude","tot":"msg"},{"t":"set","p":"longitude","pt":"msg","to":"payload.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":120,"wires":[["20cd0b83.e57ed4","b39e298.c6716d8"]]},{"id":"6f10bc45.d23754","type":"mqtt in","z":"df92a849.bf1718","name":"Location In","topic":"entc/group11/project/location","qos":"2","datatype":"json","broker":"c161b086.db225","nl":false,"rap":true,"rh":0,"x":120,"y":40,"wires":[["b91d99ea.eb02e8"]]},{"id":"3f4a01d3.4f54be","type":"inject","z":"df92a849.bf1718","name":"Repeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1440,"wires":[["daa09e6b.072bd","2c948c4c.5b5da4","be78658d.4d6538","9429e01.f200d2","fcd01257.8625","898093b4.2a8b7","2d655b95.a87854"]]},{"id":"898093b4.2a8b7","type":"http request","z":"df92a849.bf1718","name":"colombo","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@9571/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1200,"wires":[["3362341f.3272ac"]]},{"id":"1ddaa1fc.edd55e","type":"debug","z":"df92a849.bf1718","name":"Colombo data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1200,"wires":[]},{"id":"fc94ff16.27682","type":"switch","z":"df92a849.bf1718","name":"City Name","property":"payload.data.city.name","propertyType":"msg","rules":[{"t":"eq","v":"Colombo US Embassy, Sri Lanka","vt":"str"},{"t":"eq","v":"San Jose US Embassy, Costa Rica","vt":"str"},{"t":"eq","v":"San Salvador Este, El Salavor","vt":"str"},{"t":"eq","v":"US Embassy, Guatemala City, Guatemala","vt":"str"},{"t":"eq","v":"SDS01, Mérida, Yucatán, Mexico","vt":"str"},{"t":"eq","v":"Tecnológico, Minatitlán, Veracruz, Mexico","vt":"str"},{"t":"eq","v":"Primaria Revolución, Atotonilco, Hidalgo, Mexico","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":8,"x":150,"y":760,"wires":[["26cb3de8.f246c2"],["42c9e63b.8502d8"],["d936142b.a320f8"],["8eaa8521.976c28"],["3731cfeb.a055d"],["89186bfe.f0c028"],["7cab9fd.4d2526"],["805603de.1193"]]},{"id":"20cd0b83.e57ed4","type":"debug","z":"df92a849.bf1718","name":"Location","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"b405ccd1.04a6f","type":"debug","z":"df92a849.bf1718","name":"Colombo Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"6286232a.dea4fc","type":"debug","z":"df92a849.bf1718","name":"City","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.city.name","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"50d86ce4.a9e564","type":"ui_gauge","z":"df92a849.bf1718","name":"AQI Guage","group":"f5130b08.457858","order":1,"width":10,"height":4,"gtype":"gage","title":"{{city}}","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6a800","#ca3838"],"seg1":"50","seg2":"100","x":770,"y":460,"wires":[]},{"id":"6c88acbe.416be4","type":"change","z":"df92a849.bf1718","name":"Set Guage Parameters","rules":[{"t":"set","p":"city","pt":"msg","to":"payload.data.city.name","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"payload.data.aqi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["50d86ce4.a9e564"]]},{"id":"3362341f.3272ac","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1200,"wires":[["1f9138ed.ef5fb7"]]},{"id":"e4733777.4e8d18","type":"debug","z":"df92a849.bf1718","name":"History","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":640,"wires":[]},{"id":"fcd01257.8625","type":"http request","z":"df92a849.bf1718","name":"San Jose","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@12506/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1280,"wires":[["781e10f3.32c5"]]},{"id":"8b063fc.2d61cc","type":"debug","z":"df92a849.bf1718","name":"San Jose data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1280,"wires":[]},{"id":"781e10f3.32c5","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1280,"wires":[["bfce4e1c.12414"]]},{"id":"8b819ae2.b72b68","type":"debug","z":"df92a849.bf1718","name":"San Jose Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":620,"wires":[]},{"id":"9429e01.f200d2","type":"http request","z":"df92a849.bf1718","name":"San Salvador","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@6966/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1360,"wires":[["3f2c75ed.441b0a"]]},{"id":"dd867380.80be8","type":"debug","z":"df92a849.bf1718","name":"San Salvador data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1360,"wires":[]},{"id":"3f2c75ed.441b0a","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1360,"wires":[["9cc8d761.919f28"]]},{"id":"4409c290.5f7cac","type":"debug","z":"df92a849.bf1718","name":"San Salvador Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":700,"wires":[]},{"id":"be78658d.4d6538","type":"http request","z":"df92a849.bf1718","name":"Guatemala","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@12515/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1440,"wires":[["9139d368.955bb"]]},{"id":"c0b63536.e4d058","type":"debug","z":"df92a849.bf1718","name":"Guatemala data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1440,"wires":[]},{"id":"9139d368.955bb","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1440,"wires":[["67df319a.506ef"]]},{"id":"6a411344.b42afc","type":"debug","z":"df92a849.bf1718","name":"Guatemala Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":780,"wires":[]},{"id":"b248d4c6.79cb48","type":"debug","z":"df92a849.bf1718","name":"Merida Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":860,"wires":[]},{"id":"2c948c4c.5b5da4","type":"http request","z":"df92a849.bf1718","name":"Merida","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@11908/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1520,"wires":[["ec44f7ab.cbf308"]]},{"id":"394f82b.154bd7e","type":"debug","z":"df92a849.bf1718","name":"Merida data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1520,"wires":[]},{"id":"ec44f7ab.cbf308","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1520,"wires":[["fa92aeec.0bbf8"]]},{"id":"daa09e6b.072bd","type":"http request","z":"df92a849.bf1718","name":"Veracruz","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@9164/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1600,"wires":[["5ffad70c.cfa4a8"]]},{"id":"ec2f4e06.af0c5","type":"debug","z":"df92a849.bf1718","name":"Veracruz data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1600,"wires":[]},{"id":"5ffad70c.cfa4a8","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1600,"wires":[["1c558a44.e5c0d6"]]},{"id":"33377456.a1fd1c","type":"debug","z":"df92a849.bf1718","name":"Veracruz Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":940,"wires":[]},{"id":"5da9b452.15f51c","type":"ui_ui_control","z":"df92a849.bf1718","name":"","events":"all","x":920,"y":1100,"wires":[["df8a7605.0bd428"]]},{"id":"805603de.1193","type":"function","z":"df92a849.bf1718","name":"","func":"\nreturn {payload:{\n    \"group\": {\n        \"hide\": [\n            \"Air_Pollution_Dashboard_Air_Quality_of_Past_Hours\"\n        ]\n    }\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1100,"wires":[["5da9b452.15f51c"]]},{"id":"c2064f3b.f2242","type":"function","z":"df92a849.bf1718","name":"","func":"\nreturn {payload:{\n    \"group\": {\n        \"show\": [\n            \"Air_Pollution_Dashboard_Air_Quality_of_Past_Hours\"\n        ]\n    }\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":860,"wires":[["5da9b452.15f51c"]]},{"id":"40d3633.fdf6b9c","type":"ui_text","z":"df92a849.bf1718","group":"f5130b08.457858","order":2,"width":10,"height":1,"name":"Quality","label":"Air Quality","format":"{{msg.quality}}","layout":"row-center","x":760,"y":160,"wires":[]},{"id":"44c86b06.4219a4","type":"change","z":"df92a849.bf1718","name":"Set global Params","rules":[{"t":"set","p":"aqi","pt":"global","to":"payload.data.aqi","tot":"msg"},{"t":"set","p":"timestamp","pt":"global","to":"payload.data.time.s","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[[]]},{"id":"8aaed195.4caad","type":"mqtt out","z":"df92a849.bf1718","name":"AQI publish","topic":"entc/group11/project/location","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":590,"y":1980,"wires":[]},{"id":"e9c8fa4f.728698","type":"inject","z":"df92a849.bf1718","name":"other","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"31.2304\",\"longitude\":\"121.4737\"}","payloadType":"json","x":170,"y":1860,"wires":[["8aaed195.4caad"]]},{"id":"3f621ab8.c89fb6","type":"inject","z":"df92a849.bf1718","name":"colombo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"6.9224\",\"longitude\":\"79.8661\"}","payloadType":"json","x":180,"y":1800,"wires":[["8aaed195.4caad"]]},{"id":"807704ae.3aa6f8","type":"inject","z":"df92a849.bf1718","name":"San Jose","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"9.9347\",\"longitude\":\"-84.0875\"}","payloadType":"json","x":180,"y":1920,"wires":[["8aaed195.4caad"]]},{"id":"54150781.00f698","type":"inject","z":"df92a849.bf1718","name":"San Salvador","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"13.7151\",\"longitude\":\"-89.1548\"}","payloadType":"json","x":190,"y":1980,"wires":[["8aaed195.4caad"]]},{"id":"4b337c5c.9b7384","type":"inject","z":"df92a849.bf1718","name":"Guatemala","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"14.6069\",\"longitude\":\"-90.5169\"}","payloadType":"json","x":180,"y":2040,"wires":[["8aaed195.4caad"]]},{"id":"95e79b15.edf6f8","type":"inject","z":"df92a849.bf1718","name":"Veracruz","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"18.0056\",\"longitude\":\"-94.5553\"}","payloadType":"json","x":180,"y":2160,"wires":[["8aaed195.4caad"]]},{"id":"222387fa.cbfc68","type":"inject","z":"df92a849.bf1718","name":"Merida","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"20.9732\",\"longitude\":\"-89.6248\"}","payloadType":"json","x":170,"y":2100,"wires":[["8aaed195.4caad"]]},{"id":"c85596ff.5b4e58","type":"function","z":"df92a849.bf1718","name":"Historical Data","func":"var json_data = msg.payload;\nvar countKey = Object.keys(json_data).length;\nvar result = [];\n\nvar keys = Object.keys(json_data);\n\nfor(var i = countKey-20; i<countKey; i++){\n    result.push({'x': json_data[keys[i]].timestamp,'y': json_data[keys[i]].value});\n}\n\nresult.push({'x': global.get(\"timestamp\"),'y': global.get(\"aqi\")});\n\nmsg.payload=[{\n    'series' :['Air quality index'],\n    'data' : [result],\n    'labels': ['Air quality index']\n    }]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":740,"wires":[["c2064f3b.f2242","e4733777.4e8d18","df8a7605.0bd428"]]},{"id":"26cb3de8.f246c2","type":"http request","z":"df92a849.bf1718","name":"Get Colombo","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Colombo.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":540,"wires":[["b405ccd1.04a6f","c85596ff.5b4e58"]]},{"id":"1f9138ed.ef5fb7","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Colombo.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1200,"wires":[["1ddaa1fc.edd55e"]]},{"id":"bfce4e1c.12414","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanJose.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1280,"wires":[["8b063fc.2d61cc"]]},{"id":"9cc8d761.919f28","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanSalvador.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1360,"wires":[["dd867380.80be8"]]},{"id":"67df319a.506ef","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Guatemala.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1440,"wires":[["c0b63536.e4d058"]]},{"id":"fa92aeec.0bbf8","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Merida.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1520,"wires":[["394f82b.154bd7e"]]},{"id":"1c558a44.e5c0d6","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Veracruz.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1600,"wires":[["ec2f4e06.af0c5"]]},{"id":"42c9e63b.8502d8","type":"http request","z":"df92a849.bf1718","name":"Get San Jose","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanJose.json","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":620,"wires":[["8b819ae2.b72b68","c85596ff.5b4e58"]]},{"id":"d936142b.a320f8","type":"http request","z":"df92a849.bf1718","name":"Get San Salvador","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/SanSalvador.json","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":700,"wires":[["4409c290.5f7cac","c85596ff.5b4e58"]]},{"id":"8eaa8521.976c28","type":"http request","z":"df92a849.bf1718","name":"Get Guatemala","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Guatemala.json","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":780,"wires":[["6a411344.b42afc","c85596ff.5b4e58"]]},{"id":"3731cfeb.a055d","type":"http request","z":"df92a849.bf1718","name":"Get Merida","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Merida.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":860,"wires":[["b248d4c6.79cb48","c85596ff.5b4e58"]]},{"id":"89186bfe.f0c028","type":"http request","z":"df92a849.bf1718","name":"Get Veracruz","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Veracruz.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":940,"wires":[["33377456.a1fd1c","c85596ff.5b4e58"]]},{"id":"2d655b95.a87854","type":"http request","z":"df92a849.bf1718","name":"Hidalgo","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.waqi.info/feed/@9170/?token=1975fa0a568084a28b95f987f6f7d4610fed8e24","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1680,"wires":[["fa689889.a17668"]]},{"id":"93c073ea.5e5b8","type":"debug","z":"df92a849.bf1718","name":"Hidalgo data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1680,"wires":[]},{"id":"fa689889.a17668","type":"function","z":"df92a849.bf1718","name":"Set Data","func":"let aqi = msg.payload.data.aqi;\nvar ts = msg.payload.data.time.s;\n\nreturn {payload:{\n    value:aqi,\n    timestamp:ts\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1680,"wires":[["4b5acc46.98ccc4"]]},{"id":"4b5acc46.98ccc4","type":"http request","z":"df92a849.bf1718","name":"Add Data","method":"POST","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Hidalgo.json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1680,"wires":[["93c073ea.5e5b8"]]},{"id":"7b7f688f.887c88","type":"debug","z":"df92a849.bf1718","name":"Hidalgo Past Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1020,"wires":[]},{"id":"7cab9fd.4d2526","type":"http request","z":"df92a849.bf1718","name":"Get Hidalgo","method":"GET","ret":"obj","paytoqs":"body","url":"https://airpollution-ec6fd-default-rtdb.firebaseio.com/Hidalgo.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1020,"wires":[["7b7f688f.887c88","c85596ff.5b4e58"]]},{"id":"45d6dfdc.cbdd8","type":"inject","z":"df92a849.bf1718","name":"Hidalgo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":\"20.0066\",\"longitude\":\"-99.2188\"}","payloadType":"json","x":170,"y":2220,"wires":[["8aaed195.4caad"]]},{"id":"afd3d7cf.576508","type":"function","z":"df92a849.bf1718","name":"Get AQI value","func":"let aqi = msg.payload.data.aqi;\nvar quality = \"Good\";\nif (aqi>=100){\n    quality = \"Unhealthy\";\n} else if(aqi>=50){\n    quality = \"Moderate\";\n}\n\nreturn {\n    payload:aqi,\n    quality:quality\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":160,"wires":[["f4ada751.02fb38","40d3633.fdf6b9c","e4345587.915af8"]]},{"id":"df8a7605.0bd428","type":"ui_chart","z":"df92a849.bf1718","name":"Historical Data Time Series","group":"d7462180.ac61","order":1,"width":"10","height":"8","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0056d6","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":880,"wires":[[]]},{"id":"93a78caf.be49b","type":"function","z":"df92a849.bf1718","name":"Get Q Params","func":"let iaqi = msg.payload.data.iaqi;\n\nreturn {\n    payload:iaqi,\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":200,"wires":[["50f2b676.2f8c18"]]},{"id":"50f2b676.2f8c18","type":"ui_template","z":"df92a849.bf1718","group":"5ca04570.012eac","name":"Table","order":2,"width":6,"height":"5","format":"<table border=\"1\">\n    <tr>\n        <th>Parameter</th>\n        <th>Value</th>\n    </tr>\n    <tr ng-repeat=\"(k,v) in msg.payload\" ng-if =\"$index < 7\">\n        <td align=\"middle\">{{k}}</td>\n        <td align=\"middle\">{{v.v}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":280,"wires":[[]]},{"id":"4f8e2eec.cf9ea","type":"function","z":"df92a849.bf1718","name":"Get Local Time","func":"let time = msg.payload.data.time.s;\n\nreturn {\n    payload: time\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":240,"wires":[["1112fba5.5b63b4"]]},{"id":"1112fba5.5b63b4","type":"ui_text","z":"df92a849.bf1718","group":"c83f3228.03c53","order":1,"width":"10","height":"2","name":"Last Updated","label":"Last Updated","format":"{{msg.payload}}","layout":"col-center","x":770,"y":340,"wires":[]},{"id":"89ae3313.84fd5","type":"mqtt out","z":"df92a849.bf1718","name":"Time Zone Out","topic":"entc/group11/project/tz","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c161b086.db225","x":780,"y":400,"wires":[]},{"id":"d3a35cb6.d89e4","type":"function","z":"df92a849.bf1718","name":"Get Local Time Zone","func":"let timeZone = msg.payload.data.time.tz;\n\nreturn {\n    payload: timeZone\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["89ae3313.84fd5"]]},{"id":"c161b086.db225","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f5130b08.457858","type":"ui_group","name":"Air Quality Index","tab":"2b77d495.0e71ec","order":1,"disp":true,"width":10,"collapse":false},{"id":"d7462180.ac61","type":"ui_group","name":"Air Quality of Past Hours","tab":"2b77d495.0e71ec","order":2,"disp":true,"width":10,"collapse":false},{"id":"5ca04570.012eac","type":"ui_group","name":"Quality Parameters","tab":"2b77d495.0e71ec","order":3,"disp":true,"width":10,"collapse":false},{"id":"c83f3228.03c53","type":"ui_group","name":"Date and Time","tab":"2b77d495.0e71ec","order":4,"disp":true,"width":"10","collapse":false},{"id":"2b77d495.0e71ec","type":"ui_tab","name":"Air Pollution Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]